.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #212121;
  color: antiquewhite;
  min-height: 100vh;
}
.title {
  font-family: "Josefin Sans", sans-serif;
  padding: 20px;
}

/* .login {
  white-space: nowrap;
  width: 5ch;
  border-right: 4px solid;
  animation: typing 2s steps(5), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
} */
