* {
  box-sizing: border-box;
  margin: 0;
}
.dzu-previewImage {
  max-width: 180px;
  max-height: 150px;
}
.dzu-inputLabelWithFiles {
  display: none;
}
.dzu-input {
  max-width: 200px !important;
  min-height: 150px !important;
  display: flex;
  text-align: center;
}
.dzu-inputLabel {
  min-width: 200px !important;
  min-height: 150px !important;
}
.dzu-submitButton {
  display: none;
}
.mapboxgl-ctrl-bottom-right {
  display: none;
}

.error {
  color: red;
}
.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
