.root {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  border: solid 2px;
  border-radius: 5px;
  width: 100%;
  max-width: 350px;
  gap: 20px;
  padding: 20px;
}

.drop {
  width: 150px;
  height: 110px;
  background-color: antiquewhite;
  opacity: 0.2;
  border-radius: 5px;
}
.span {
  font-size: 12px;
}
