.root {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  /* border: solid 2px;
  border-radius: 5px; */
  width: 100%;

  gap: 20px;
  padding: 20px 40px 40px 40px;
}

.container {
  background-color: #212121;
  opacity: 0.9;
  min-width: 300px;
  max-width: 900px;
  font-size: 15px;
}
@media (min-width: 600px) {
  .container {
    width: 900px;
    font-size: 15px;
  }
}

.span {
  font-size: 15px;
}

@media (min-width: 600px) {
  .span {
    font-size: 25px;
  }
}

.instruction {
  max-width: 350px;
  font-size: 15px;
}
@media (min-width: 600px) {
  .instruction {
    font-size: 25px;
  }
}

.report {
  background-color: #4caf50;
  color: antiquewhite;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  margin: 5px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  min-width: 250px;
}

@media (min-width: 600px) {
  .report {
    font-size: 25px;
  }
}

.report:hover {
  opacity: 0.7;
}

.cancel {
  background-color: #f44336;
  color: antiquewhite;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  margin: 5px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  min-width: 250px;
}

@media (min-width: 600px) {
  .cancel {
    font-size: 25px;
  }
}

.cancel:hover {
  opacity: 0.8;
  color: antiquewhite;
}
.title {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 15px;
}

.textarea {
  color: antiquewhite;
  background-color: black;
  width: 250px;
  height: 80px;
  font-size: 12px;
}

.locationName {
  font-size: 15px;
}

@media (min-width: 600px) {
  .locationName {
    font-size: 25px;
  }
}