.root {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  /* border: solid 2px;
  border-radius: 5px; */
  width: 100%;

  gap: 30px;
  padding: 20px 40px 40px 40px;
}
@media (min-width: 600px) {
  .root {
    gap: 50px;
  }
}

.firstSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 15px;
  background-color: black;
  padding: 20px;
}
@media (min-width: 600px) {
  .firstSection {
    max-width: 730px;
    border-radius: 7px;
    padding: 30px;
  }
}

.container {
  background-color: #212121;
  opacity: 0.9;
  min-width: 300px;
  max-width: 900px;
  font-size: 15px;
}
@media (min-width: 600px) {
  .container {
    width: 900px;
    font-size: 15px;
  }
}

.span {
  font-size: 15px;
}

@media (min-width: 600px) {
  .span {
    font-size: 25px;
  }
}

.instruction {
  min-width: 100%;
  max-width: 350px;
  padding: 5px;
  border-radius: 3px;
  background-color: #43a047;
  font-size: 15px;
  opacity: 0.8;
}

@media (min-width: 600px) {
  .instruction {
    font-size: 20px;
    min-width: 100%;
  }
}

.report {
  background-color: #4caf50;
  color: antiquewhite;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  margin: 5px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  min-width: 250px;
}

@media (min-width: 600px) {
  .report {
    font-size: 25px;
  }
}

.report:hover {
  opacity: 0.7;
}

.cancel {
  background-color: #f44336;
  color: antiquewhite;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  margin: 5px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  min-width: 250px;
}

@media (min-width: 600px) {
  .cancel {
    font-size: 25px;
  }
}

.cancel:hover {
  opacity: 0.8;
  color: antiquewhite;
}
.title {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 15px;
}

.textarea {
  color: antiquewhite;
  background-color: black;
  width: 250px;
  height: 80px;
  font-size: 12px;
}

.locationName {
  font-size: 15px;
}

@media (min-width: 600px) {
  .locationName {
    font-size: 25px;
  }
}

.on {
  display: flex;
  flex-direction: column;
  border: 2px dotted gray;
  border-radius: 5px;
  background-color: azure;
  height: 180px;
  min-width: 200px;
  opacity: 0.7;
  color: slategray;
  font-size: 15px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

@media (min-width: 600px) {
  .on {
    width: 350px;
    font-size: 25px;
    border-radius: 8px;
  }
}

.on:hover {
  background-color: gray;
  border: 2px dotted antiquewhite;
  color: antiquewhite;
}

.off {
  display: none;
}

.map {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: black;
  padding: 20px;
}

@media (min-width: 600px) {
  .map {
    max-width: 730px;
    padding: 30px;
    border-radius: 7px;
  }
}

@media (min-width: 600px) {
  .buttons {
    display: flex;
    flex-direction: row-reverse;
  }
}
