/* From uiverse.io by @alexruix */
/* From uiverse.io by @alexruix */
.input {
  line-height: 18px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: antiquewhite;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  min-width: 190px;
}

.input:focus,
input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
}

.input::placeholder {
  color: #f1c40f;
  font-style: italic;
  opacity: 0.5;
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
