.root {
  background-color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  /* border: solid 2px;*/
  border-radius: 5px;
  width: 100%;
  gap: 20px;
  padding: 20px;
  min-width: 300px;
  max-width: 450px;
}
@media (min-width: 600px) {
  .root {
    min-width: 500px;
    max-width: 550px;
  }
}
