.image {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 30px;
  min-width: 250px;
  max-width: 270px;
  min-height: 320px;
  color: antiquewhite;
  background-image: linear-gradient(144deg, #2c3e50, #186a3b);
  border: none;
  position: relative;
  margin: auto;
  font-family: inherit;
  border-radius: 7px;
  --background: linear-gradient(to left, #33691e, #004d40 100%);
  overflow: visible;
  position: relative;
  z-index: 1;
}
@media (min-width: 600px) {
  .card {
    min-width: 280px;
    max-height: 400px;
  }
}

.card span {
  font-size: 15px;
  align-content: center;
  text-align: center;
  display: block;
  padding-top: 10px;
}

.card .job {
  text-align: center;
  padding-top: 5px;
  font-size: 30px;
  font-weight: bold;
  color: tomato;
}
@media (min-width: 600px) {
  .card .job {
    font-size: 40px;
  }
}

.card .img {
  width: 100%;
  background: #e8e8e8;
  border-radius: 5px;
}

.button {
  padding: 8px 15px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  background: #e8e8e8;
  color: #111111;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background: #212121;
  color: #ffffff;
}

.card::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(25px);
  background: #f7ba2b;
  background: var(--background);
  transition: opacity 0.5s;
}

.card:hover {
  opacity: 0.8;
}

.mycard {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0px 20px 20px 20px;
  min-width: 250px;
  max-width: 270px;
  min-height: 320px;
  color: antiquewhite;
  background-image: linear-gradient(144deg, #37474f, #37474f);
  border: none;
  position: relative;
  margin: auto;
  font-family: inherit;
  border-radius: 7px;
  --background: linear-gradient(to left, #37474f, #1a5276 100%);
  overflow: visible;
  position: relative;
  z-index: 1;
}

@media (min-width: 600px) {
  .mycard {
    min-width: 280px;
    max-height: 400px;
  }
}

.mycard span {
  font-size: 15px;
  text-align: center;
  display: block;
  padding-top: 10px;
}

.mycard .job {
  text-align: center;
  padding-top: 5px;
  font-size: 30px;
  font-weight: bold;
  color: #8e44ad;
}

@media (min-width: 600px) {
  .card .job {
    font-size: 40px;
  }
}

.mycard .img {
  width: 100%;
  background: #e8e8e8;
  border-radius: 5px;
}

.button {
  text-decoration: none;
  padding: 3px 10px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 8px;
  background: #e8e8e8;
  color: #111111;
  font-weight: 400;
  cursor: pointer;
}

.button:hover {
  background: #212121;
  color: #ffffff;
}

.mycard::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(25px);
  background: #f7ba2b;
  background: var(--background);
  transition: opacity 0.5s;
}

.mycard:hover {
  opacity: 0.8;
}

.span {
  font-size: 12px;
}

.off {
  display: none;
}

.on {
  display: flex;
  background: none;
  border: none;
  justify-content: end;
  font-size: 11px;
  padding: 8px 0px 8px;
}
