.root {
  background-color: #e8daef;
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 10px;
}

.logo {
  font-size: 30px;
  cursor: pointer;
}

.menu {
  font-size: 30px;
  cursor: pointer;
}

.links {
  color: #cfd8dc;
  text-decoration: none;
  font-size: 20px;
}