.root {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  background-color: #212121;
  color: antiquewhite;
  min-height: 100vh;
}
.title {
  font-size: 45px;
  font-family: "Josefin Sans", sans-serif;
}

@media (min-width: 600px) {
  .title {
    font-size: 70px;
  }
}
