.page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  color: antiquewhite;
  min-height: 100vh;
  padding-top: 30px;
}
.root {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
  min-width: 290px;
  background-color: #212121;
  color: antiquewhite;
  min-height: 100vh;
  padding-bottom: 50px;
}
@media (min-width: 600px) {
  .root {
    min-width: 450px;
  }
}

.title {
  font-family: "Josefin Sans", sans-serif;
  padding: 20px;
}

@media (min-width: 600px) {
  .title {
    font-size: 45px;
  }
}
